10minl098/
20210518.gj1061x-pi.var.dat
25pc_VK_HRD.py
25pc_VK_values.csv
L098-059_fits/
a.txt
apertures.dat
l098-059_stitched.png
l098-059_stitched_sap.png
lomb_scargle.py
mad.py
nasa_all_planets_20220102.csv
nasa_update_tap.py
old/
pdcsap_vs_sap.py
plots/
position_angle.py
psql2latex.py
recons_crossmatch.py
script_lab.py
simluated_lc.py
tess_lightcurves.py
